<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>列表</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
<!-- Table goes in the document BODY -->
   <table class="hovertable">
    	<tr><td colspan="8"><a href="#">用户列表</a></td></tr>
        <tr>
            <th>序号</th><th>用户姓名</th><th>性别</th><th>年龄</th><th>出生日期</th><th>角色</th>
        </tr>
        <tr style="background-color: rgb(212, 227, 229);">
	        <td>1</td><td>张三</td><td>男</td><td>25</td><td>2015-07-12</td><td>vip</td>
	    </tr>
		<tr style="background-color: rgb(212, 227, 229);">
	        <td>1</td><td>李四</td><td>男</td><td>25</td><td>2015-07-12</td><td>vip</td>
	    </tr>
		<tr style="background-color: rgb(212, 227, 229);">
	        <td>1</td><td>王五</td><td>男</td><td>25</td><td>2015-07-12</td><td>common</td>
	    </tr>
		<tr style="background-color: rgb(212, 227, 229);">
	        <td>1</td><td>丁六</td><td>男</td><td>25</td><td>2015-07-12</td><td>manager</td>
	    </tr>
        		
    </table>
</body>
</html>