<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<title>列表</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<body>
<!-- Table goes in the document BODY -->
   <table class="hovertable">
    	<tr><td colspan="8"><a href="#">用户列表</a></td></tr>
        <tr>
            <th>序号</th><th>用户姓名</th><th>性别</th><th>年龄</th><th>出生日期</th>
        </tr>
        <tr th:each="user,status:${userList}"  style="background-color: rgb(212, 227, 229); ">
	        <td th:text="${status.count}">1</td>
			<td th:text="${user.username}">张三</td>
			<td th:text="${user.sex ==1 ?'男':'女'}">男</td>
			<td th:text="${user.age}">25</td>
			<td th:text="${#dates.format(user.birthDate,'yyyy-MM-dd')}">2015-07-12</td>

	    </tr>


    </table>
</body>
</html>